* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html,
body {
    height: 100%;
}
/* This area is for custom fonts */
@font-face {
    font-family: festive;
    src: url(/css/font/festive.ttf);
}

@font-face {
    font-family: dancingScript;
    src: url(/css/font/dancingScript.ttf);
}

@font-face {
    font-family: openSansCondensed;
    src: url(/css/font/OpenSansCondensed-Light.ttf);
}

/* This are is for the titles */
.title1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    /* margin-left: 500px;  */
    margin-top: -10px;
    display: flex;
    justify-content: center;
    
}

.title2 {
    font-family: cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* margin-left: 600px; */
}

/* This area is for the subtitles  */
.headingOne {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 420px;
    display: flex;
    justify-content: left;
    
}

.headingTwo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    margin-top: -40px; 
    margin-left: 1080px;
}

.headingThree {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    margin-top: -30px; 
    margin-left: 800px;
}

/* This area is for the assignment links */
.pracLabs {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 380px;
    margin-top: 10px;
}
.lab1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 400px;
    margin-top: 0px;
}

.lab2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 400px;
    margin-top: 0px;
}

.lab3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 390px;
    margin-top: 0px;
}

/* .lab4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 395px;
    margin-top: 0px;
} */

/* .lect5 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 425px;
    margin-top: 0px;
} */

.personalComp {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1120px;
    margin-top: -120px;
}

.count {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1175px;
}

.everLar {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1160px;
}

.worldWrap {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1155px;
}

.dataDD {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1125px;
}

.virtualPet {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1175px;
}

.worldWR {
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1120px;
}

.peakPixels {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1180px;
}

.mcdiv {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1190px;
}

.overAndOut {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 1160px;
}

/* This area is for the backgroung image */
.hero {
    width: 100%;
    height: 100%;
    /* background-color: navy; */
    margin: 0 auto;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}